<head>
	<title>FlowTalk - Home</title>

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/importer.css">
	<link rel="stylesheet" href="/styles/materialize.min.css">
	<!--STYLES END-->
</head>

<h1>Basic Login With Sails</h1>

<% if (req.session.me) { %>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/login">Login</a> | <a href="/signup">Signup</a>
<% } %>
