
<head>
	<title>FlowTalk - Login</title>
</head>

<h1>Login</h1>

<% if (typeof response !== 'undefined') { %>
	<div class="row"><span class="left new badge red" data-badge-caption=""><%= response %></span></div>
<% } %>

<form action="/login" method="post" class="col s12">
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <div class="row">
        <div class="input-field col s12">
			<i class="material-icons prefix">email</i>
            <input name="email" id="input_email" type="email" class="validate"> <label>Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
			<i class="material-icons prefix">lock_outline</i>
            <input name="password" id="input_password" type="password" class="validate"> <label>Password</label>
        </div>
    </div>
    <div class="row">
	    <div class="input-field col s12">
	        <button class="btn waves-effect waves-light" type="submit" name="action"><b>Login</b></button>
	    </div>
    </div>
    <div class="row">
	    <div class="input-field col s12">
	        <a href="/signup"><b>Not an account yet?</b></a>
	    </div>
    </div>
</form>
