<h1>Signup</h1>

<% if (typeof(validationErrors) !== 'undefined') { %>
	<% for (var key in validationErrors) { %>
		<% for (var i=0; i < validationErrors[key].length; i++) { %>
			<div class="row"><span class="left new badge red" data-badge-caption=""><%= validationErrors[key][i].message %></span></div>
		<% } %>
	<% } %>
<% } %>

<head>
	<title>FlowTalk - Signup</title>
</head>

<form action="/signup" method="post" class="col s12">
    <div class="row">
        <div class="input-field col s12">
			<i class="material-icons prefix">account_circle</i>
            <input name="name" id="name" type="text" class="validate"> <label for="name">Visible Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
			<i class="material-icons prefix">email</i>
            <input name="email" id="email" type="email" class="validate"> <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
			<i class="material-icons prefix">lock_outline</i>
            <input name="password" id="password" type="password" class="validate"> <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
	    <div class="input-field col s12">
	        <button class="btn waves-effect waves-light" type="submit" name="action"><b>Create Account</b></button>
	    </div>
    </div>
    <div class="row">
	    <div class="input-field col s12">
	        <a href="/login"><b>I already have an account.</b></a>
	    </div>
    </div>
</form>
